* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
/* HEADER  */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/background.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
nav .fa-solid {
  display: none;
}
nav .fa-cart-shopping {
  display: block;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.nav-links ul .fa {
  display: none;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.row {
  margin: 10%;
  margin-top: 3%;
  display: flex;
  height: 30em;
}
.row img {
  width: 750px;
  border-radius: 5%;
  box-shadow: 0 0 20px 0px rgba(56, 55, 55, 0.8);
  margin-left: 1%;
}
.row div {
  width: 50%;
}
.row h1 {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  margin-left: 5%;
  margin-top: 5%;
}
.row h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin-left: 5%;
  margin-top: 6%;
}
.row h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
}
.row a {
  border: 1px solid #ffcc00;
  text-decoration: none;
  color: #fff;
  background-color: #ffcc00;
  font-weight: 1000;
  font-size: 30px;
  border-radius: 15px;
  padding: 2%;
  margin-left: 5%;
}

@media screen and (max-width: 1486px) {
  .row img {
    width: 600px;
  }
}

@media screen and (max-width: 1296px) {
  .row img {
    width: 500px;
  }
}

@media screen and (max-width: 1044px) {
  .row img {
    display: none;
  }
  .row div {
    margin: auto;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

@media screen and (max-width: 940px) {
  nav img {
    padding: 0;
  }
  .nav-links ul li a {
    font-size: 20px;
  }
}
@media screen and (max-width: 789px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #212128;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa-solid {
    display: block;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
  }
  nav .fa-xmark {
    margin: 10px;
  }
  .nav-links ul {
    padding: 24px;
  }
}
@media screen and (max-width: 411px) {
  .row div h1 {
    font-size: 31px;
  }
  .row div h3 {
    font-size: 16px;
  }
  .row div h4 {
    font-size: 12px;
  }
  .row div a {
    font-size: 25px;
  }
  .header {
    min-height: 50rem;
  }
}
/* STORE */
#store {
  background: #212128;
}
#store p {
  font-size: 50px;
  color: #fff;
  width: 50%;
  margin: auto;
  padding-top: 5%;
  text-align: center;
}
.store-row {
  display: flex;
  justify-content: center; /*center*/
  align-items: center;
  min-height: 60vh;
  flex-direction: row;
  flex-flow: wrap;
}
.card {
  position: relative;
  width: 320px;
  height: 480px;
  /* background: #191919; */
  border-radius: 20px;
  overflow: hidden;
  margin: 3%;
}
.card h3 {
  text-align: center;
}
.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
.contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #ffce00;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}
/* CARDS NOT GOING IN 2 1 ROW */
@media screen and (max-width: 1188px) {
  .store-row {
    flex-direction: column;
  }
}

/* INDIVIDUAL CARDS */
#netflix {
  background: rgb(190, 58, 58);
}

#spotify {
  background: rgb(32, 172, 32);
}

#nordvpn {
  background: rgb(117, 164, 226);
}

#canva {
  background: rgb(12, 167, 167);
}

#youtube {
  background: rgb(190, 58, 58);
}

#xbox {
  background: rgb(5, 134, 5);
}

#malwarebytes {
  background: rgb(137, 147, 233);
}

#hbomax {
  background: #491c52;
}

#grammarly {
  background: rgb(88, 179, 141);
}

#expressvpn {
  background: rgba(172, 64, 64, 0.986);
}

#duolingo {
  background: rgb(34, 134, 34);
}

#disney {
  background: rgb(77, 77, 161);
}

#deezer {
  background: rgb(29, 29, 29);
}

#crunchyroll {
  background: rgb(214, 131, 6);
}

#codecademy {
  background: rgb(6, 6, 134);
}
/* WHY US? */
.why-us {
  background-color: #3b3b42;
  min-height: 55em;
  text-align: center;
  color: white;
}
.why-us h1 {
  text-align: center;
  margin: auto;
  padding-top: 1em;
  color: #fff;
  font-size: 70px;
}
.whyus-row {
  margin-top: 8em;
  padding-bottom: 8em;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.whyus-card {
  display: inline-block;
  height: 15em;
  width: 12em;
  margin: 2em;
  background-color: #61616d;
  padding: 3%;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(230, 235, 234, 0.81);
  -moz-box-shadow: 0px 0px 9px 1px rgba(230, 235, 234, 0.81);
  box-shadow: 0px 0px 9px 1px rgba(230, 235, 234, 0.81);
  perspective: 1000px;
}
.whyus-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.whyus-card:hover .whyus-card-inner {
  transform: rotateY(180deg);
}
.whyus-card-front,
.whyus-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.whyus-card-front {
  color: white;
}
.whyus-card-back {
  color: white;
  transform: rotateY(180deg);
}
.whyus-card h2 {
  position: relative;
  margin-top: 40%;
  font-size: 40px;
}
.whyus-card p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  margin: 1%;
}
.whyus-card .fa-solid {
  color: #ffce00;
  font-size: 100px;
}
.rotate {
  color: green;
  font-size: 100px;
}
@media screen and (max-width: 954px) {
  .whyus-card h2 {
    margin-top: 30%;
  }
  .whyus-card p {
    margin-top: 4%;
  }
}

@media screen and (max-width: 599px) {
  .whyus-card h2 {
    margin-top: 24%;
  }
  .whyus-card p {
    margin-top: 8%;
  }
}
/* SOCIALS */
.footer {
  background-color: #212128;
}
.footer h1 {
  text-align: center;
  color: #fff;
}
.footer h3 {
  color: gray;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 3em;
}
.socials {
  text-align: center;
}
.socials .fa-brands {
  font-size: 25px;
  margin-left: 2%;
  margin-right: 2%;
  color: #fff;
}
#copyright {
  text-align: center;
  margin-top: 2%;
  font-weight: 400;
  opacity: 0.7;
  color: #fff;
}

/* SHOPPING CART PAGE */

.container,
.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}
.products-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  color: white;
}

.products {
  width: 100%;
  display: flex;
}
.products-container .fa-solid {
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgrey;
  margin: 0 auto;
  color: white;
}

.product-title {
  width: 45%;
}

.price-cart {
  width: 15%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.products img {
  width: 30%;
  margin-right: 5%;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 10%;
}

.payment {
  color: white;
  font-size: 20px;
  font-weight: 700;
  background-color: blue;
  padding: 10px;
  text-decoration: none;
  margin-top: 4%;
}
